.nav-header{
    width: 100%;

    .menu{
        display: flex;
        flex-direction: row;
        gap: 2em;
        padding: 0;
        padding-left: 2em;

        li{
            list-style: none;
            a{
                display: flex;
                svg{
                    margin-right: .3em;
                }
            }
        }
    }

    #chk-nav{
        display: none;
    }

    .show-nav{
        display: none;
        background-color: transparent;
        color: var(--texto);
        font-size: 25pt;
        padding: 0;
        margin-left: 1em;

        svg{
            margin-right: 0;
        }
    }
}


@media all and (width<800px) {
    .nav-header{
        .menu{
            display: none;
            padding-left: 0;
        }

        .show-nav{
            display: flex;
        }

        #chk-nav{
            display: block;
            visibility: hidden;
        }
        
        #chk-nav:checked ~ .menu{
            display: flex;
            flex-direction: column;
            gap: 1em;
            align-items: center;
            /*background-color: var(--fondo-2);
            padding: 1em 0 1em 0;*/
            margin: 0;
        }
    }
}