.input-form{
    display: flex;
    flex-direction: column;

    input, textarea, select{
        font-size: var(--tam-texto);
        font-family: var(--fuente-principal);
        padding: .5em;
        border-radius: 10px;
        border: 2px solid var(--texto);
        background-color: var(--fondo-2);
        color: var(--texto);
        margin-top: .2em;
    }

    textarea{
        height: 12em;
        width:40em;
    }

    input:focus-visible, textarea:focus-visible, select:focus-visible{
        outline: 0;
        background-color: var(--fondo-2-hover);
        border-color: var(--primary);
    }

    /*select:focus-visible{
        outline: 0;
    }*/
}