.general-footer{
    width: 100%;
    /*display: grid;
    grid-template-columns: 40% 30% 30%;*/
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;

    ul{
        padding: 0;
    }

    li{
        list-style: none;
        margin-bottom: 0.5em;
    }

    .logo-img-footer{
        filter: invert();
        width: 120px;
        height: auto;
    }
}

@media all and (width<800px) {
    footer{
        display: block;
        ul{
            margin-bottom: 2em;
        }
    }
}

@media all and (width<520px) {
    .general-footer{
        flex-direction: column;
    }
}