/*:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}*/


/*Estilos generales*/
:root{
  /*Colores*/
  --fondo-1: #1F1D2B;
  --fondo-2: #2D303E;
  --fondo-2-hover: #3f4355;
  --fondo-2-active: #555a73;
  --texto: #E7E7E7;
  --texto-2: #000000;
  --primary: #88BBFE;
  --primary-hover: #5499F5;
  --primary-active: #3e84e1;
  /*--secondary: #1f2745;
  --secondary-hover: #1d2231;
  --secondary-active: #151923;*/
  --secondary: #1f2745;
  --secondary-hover: #1d2231;
  --secondary-active: #151923;
  --warning: #fff477;
  --warning-hover: #dfd34d;
  /* --warning-hover: #FFE917; */
  --warning-active: #ccae35;
  --danger: #FF8180;
  --danger-hover: #ff6262;
  --danger-active: #d85151;
  /*--danger-active: #A61C1C;
  --texto-danger-active: #fff;*/
  /*--danger: #ff6d6d;
  --danger-hover: #f35252;
  --danger-active: #e24242;*/
  /* --danger-active: #A42625; */
  --search-hover: #2f2c41;
  --texto-placeholder: #9b9b9b;
  /*--error: #ff6565;
  --error-2: #d03e3e;
  --text-error: #000;*/

  --error: #ff1a1a4d;
  --error-2: #ff6c6c;
  --texto-error: #ffffff;

  /*Tamaños*/
  --tam-texto: 14pt;

  /*Fuentes*/
  --fuente-principal: Arial, Helvetica, sans-serif;
}


body{
  background-color: var(--fondo-1);
  font-family: var(--fuente-principal);
  display: block;
  color: var(--texto);
  font-size: var(--tam-texto);

  min-width: 336px;
}

a{
  color: var(--texto);
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

.content{
  /*background-color: #ffffff;*/
  /*display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;*/
}

.primary-form{
  display: block;
  width: 100%;
  /*margin-top: 1em;*/
}

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-form{
  display: flex;
  flex-direction: column;
  background-color: var(--fondo-2);
  align-items: center;
  justify-content: center;
  padding: 2em 3em 2em 3em;
  margin-top: 2em;
  margin-bottom: 2em;
  h2{
    margin-top: 0;
  }
  .hint{
    margin: 0;
  }
  .form-botonera{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2em;
    margin-bottom: 1em;
    gap: 1.5em;
  }
}

.cuadricula{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2em;
}

@media all and (width<1024px) {
  .cuadricula{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media all and (width<690px) {
  .cuadricula{
    grid-template-columns: repeat(1, 1fr);
  }
}

/*.align-left{
  display: block;
  text-align: left !important;
}*/
.list{
  width: 100%;
  text-align: left;
  /*padding-left: 3em;
  box-sizing: border-box;*/
}

.section-inicio{
  width: 100%;
  text-align: center;
  /*margin-bottom: 3em;
  margin-top: 3em;*/
  padding: 3em;
  box-sizing: border-box;
}

.line{
  display: flex;
  flex-direction: row;
  /*justify-content: space-evenly;*/
  gap: 1em;
  flex-wrap: wrap;
  justify-content: flex-start;
}





.mas-opciones{
  width: 100%;
  margin-top: 2em;
    margin-bottom: 3em;
  .botonera-datos{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 4em;
    
  }
}

.input-horizontal{
  display: flex;
  flex-direction: row;
}

.error{
  background-color: var(--error);
  color: var(--texto-error);
  padding: .8em 2em .8em 2em;
  width: 100%;
  margin: 0;
  margin-top: 1em;
  /* border-radius: 7px; */
  box-sizing: border-box;
  border: 2px var(--error-2) solid;
  display: flex;
  /* text-align: center; */
  align-items: center;
  justify-content: center;
  svg{
    margin-right: .5em;
  }
}