.download-mini{
    background: transparent;
    border: none;
    color: var(--texto);
    padding: 0;
    font-size: 20pt;
    cursor: pointer;
}

.download-mini:hover{
    color: var(--primary);
}

.download-mini:active{
    color: var(--primary-hover);
}