.asset-list-element{
    background-color: var(--fondo-2);
    padding: 1em;
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; */
    display: flex;
    flex-direction: row;
    gap: 1em;
    width: 100%;
    box-sizing: border-box;
    width: 100% !important;
    margin-bottom: 1em;
    align-items: center;

    

    .nom-categ{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2em;
        width: 100%;
        flex-wrap: wrap;

        .asset-name{
            /* white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis; */
            /* max-width: 150px; */
            /* width: 150px; */
            max-width: 100%;
            text-align: left;
        }
    }

    img{
        width: 120px;
        height: 100px;
        /* object-fit: cover; */
        object-fit: contain;
        margin-right: 1em;
        border: 1px solid var(--primary);
        background-color: var(--fondo-1);
    }

    .like-div{
        margin-left: auto;
        p{
            display: flex;
            align-items: center;
        }
    }
}

.eliminar-modificar{
    display: flex;
    flex-direction: row;
    gap: .5em;
    height: fit-content;

    button{

    }

    svg{
        margin: 0;
    }
}


@media all and (width<800px) {
    /*.nom-categ{
        flex-direction: column !important;
        gap: 0 !important;
        justify-content: center;
        .asset-name{
            margin-top: 0;
        }
    }*/
    .section-busqueda{
        padding: 1em !important;
    }
}

@media all and (width<680px) {
    .nom-categ{
        flex-direction: column !important;
        gap: 0 !important;
        justify-content: center;
        .asset-name{
            margin-top: 0;
        }
    }
}

@media all and (width<500px) {
    .eliminar-modificar{
        flex-direction: column;
    }
    .asset-list-element{
        img{
            width: 80px !important;
            height: 60px !important;
        }
    }
}


@media all and (width<480px) {
    .section-inicio{
        padding: 1em;
    }
    .asset-list-element{
        img{
            width: 80px !important;
            height: 60px !important;
        }
    }
}